*{
    margin: 0;
    padding: 0;
}
:host {
    display: block;
    background-color: #2f2f2f; /* Your dark gray color */
    min-height: 100vh;         /* Fill the full viewport height */
    margin: 0;
    padding: 0;
  }
  html, body {
    margin: 0;
    padding: 0;
    background-color: #2f2f2f; /* or your chosen dark color */
  }
  